body{
  background-color: #EAEEF5;
}

.navbar{
  background-color: #3085BD;
}

.left_section{
  background-color: #3085BD;
  min-height: 100vh;
  position: fixed;
}

.profile_image{
  height: 40px;
}

.sidebar a{
  color:#FFF;
}

.sidebar a:hover:not(.active){
  background-color: #3085BD;
}

.sidebar .active{
  background-color: #0066B8;
}

table{
  overflow: hidden;
}
